#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 1px;
    height: 100vh;
}

.uniform-grid-item {
    background-color: moccasin;

}

.uniform-grid-item:hover{
    background-color: chocolate;
}